@charset "UTF-8";
body {
  font-family: "Hiragino Kaku Gothic Pro";
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.5841584158vw;
  }
}
@media (min-width: 1010px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.background {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(70%, #fff), color-stop(70%, #ededed), to(#ededed));
  background: linear-gradient(180deg, #fff 0%, #fff 70%, #ededed 70%, #ededed 100%);
}
@media screen and (min-width: 768px) {
  .background {
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(65%, #fff), color-stop(65%, #ededed), to(#ededed));
    background: linear-gradient(180deg, #fff 0%, #fff 65%, #ededed 65%, #ededed 100%);
  }
}

.inner {
  width: 100%;
  padding-right: 13px;
  padding-left: 13px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .inner {
    max-width: 1060px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.test {
  font-size: 20px;
  font-size: 1.25rem;
  background-color: #111;
  color: #fff;
}

.p-access {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-access__title {
  font-size: 12px;
  font-size: 0.75rem;
  color: #111;
  letter-spacing: 1.92px;
  letter-spacing: 0.12rem;
  max-width: 87px;
  max-width: 5.4375rem;
  width: 100%;
  border-right: 1px solid #a0a0a0;
}
@media screen and (min-width: 375px) {
  .p-access__title {
    font-size: 0.75rem;
  }
}
@media screen and (min-width: 768px) {
  .p-access__title {
    font-size: 1rem;
    letter-spacing: 0.08rem;
  }
}

.p-access__desc {
  font-size: 12px;
  font-size: 0.75rem;
  color: #111;
  letter-spacing: 1.92px;
  letter-spacing: 0.12rem;
  line-height: 1.75;
  padding-left: 10.5px;
  padding-left: 0.65625rem;
}
@media screen and (min-width: 375px) {
  .p-access__desc {
    font-size: 0.75rem;
  }
}
@media screen and (min-width: 768px) {
  .p-access__desc {
    font-size: 1rem;
    letter-spacing: 0.08rem;
  }
}

.p-card__img {
  position: relative;
  width: 100%;
  margin-top: 33px;
  margin-top: 2.0625rem;
}
@media screen and (min-width: 768px) {
  .p-card__img {
    margin-top: 0;
    margin-top: initial;
  }
}

.p-card-even .p-card__img {
  margin-top: 42px;
  margin-top: 2.625rem;
}
@media screen and (min-width: 768px) {
  .p-card-even .p-card__img {
    margin-top: 0;
    margin-top: initial;
  }
}

.p-card-last .p-card__img {
  margin-top: 45px;
  margin-top: 2.8125rem;
}
@media screen and (min-width: 768px) {
  .p-card-last .p-card__img {
    margin-top: 0;
    margin-top: initial;
  }
}

.p-card__img::before {
  content: "";
  display: block;
  padding-top: 62.7536231884%;
}
@media screen and (min-width: 768px) {
  .p-card__img::before {
    padding-top: 133.3333333333%;
  }
}

.p-card__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}

.p-card__title {
  font-family: "Poppins", sans-serif;
  color: #2b2b2b;
  font-size: 23px;
  font-size: 1.4375rem;
  letter-spacing: 0.92px;
  letter-spacing: 0.0575rem;
  margin-top: 7.5px;
  margin-top: 0.46875rem;
}
@media screen and (min-width: 768px) {
  .p-card__title {
    font-size: 1.875rem;
    letter-spacing: 0.0375rem;
    margin-top: 0.96875rem;
  }
}

.p-card__text {
  font-size: 12px;
  font-size: 0.75rem;
  color: #111;
  letter-spacing: 1.92px;
  letter-spacing: 0.12rem;
  line-height: 1.75;
  margin-top: 4px;
  margin-top: 0.25rem;
}
@media screen and (min-width: 375px) {
  .p-card__text {
    font-size: 0.75rem;
  }
}
@media screen and (min-width: 768px) {
  .p-card__text {
    font-size: 1rem;
    letter-spacing: 0.08rem;
    line-height: 1.96875;
  }
}

@media screen and (min-width: 768px) {
  .p-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .p-cards__item {
    max-width: calc(33.33333% - 1.25rem);
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .p-cards__item + .p-cards__item {
    margin-left: 1.875rem;
  }
}

@media screen and (min-width: 768px) {
  .p-cards__item:nth-child(3n+1) {
    margin-left: 0;
    margin-left: initial;
  }
}

.p-concept__text {
  margin-top: 24px;
  margin-top: 1.5rem;
}

.p-concept__img {
  position: relative;
  width: 100%;
  margin-top: 35px;
  margin-top: 2.1875rem;
}
@media screen and (min-width: 768px) {
  .p-concept__img {
    margin-top: 4.125rem;
  }
}

.p-concept__img::before {
  content: "";
  display: block;
  padding-top: 43.0434782609%;
}

.p-concept__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}

.p-concept__background {
  padding-bottom: 36px;
  padding-bottom: 2.25rem;
}
@media screen and (min-width: 768px) {
  .p-concept__background {
    padding-bottom: 7.125rem;
  }
}

.p-contact__btn {
  text-align: center;
  margin-top: 33.5px;
  margin-top: 2.09375rem;
}
@media screen and (min-width: 768px) {
  .p-contact__btn {
    margin-top: 3.46875rem;
  }
}

.p-contact__text {
  position: relative;
  z-index: 10;
  margin-top: 22.5px;
  margin-top: 1.40625rem;
}
@media screen and (min-width: 768px) {
  .p-contact__text {
    margin-top: 1.96875rem;
  }
}

.p-contact__title {
  position: relative;
  z-index: 10;
}

.p-contact__back-img {
  position: relative;
  padding-top: 64px;
  padding-top: 4rem;
  padding-bottom: 75px;
  padding-bottom: 4.6875rem;
  background-image: url(../images/common/contact@2x.jpg);
  background-position: center;
  background-size: cover;
}

.p-contact__back-img::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, .6);
}

@media screen and (min-width: 768px) {
  .p-florist__title {
    margin-top: 3.125rem;
  }
}

.p-florist__text {
  margin-top: 24.5px;
  margin-top: 1.53125rem;
}
@media screen and (min-width: 768px) {
  .p-florist__text {
    margin-top: 2.09375rem;
  }
}

.p-florist__bg {
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), color-stop(20%, #ededed), color-stop(20%, #fff), to(#fff));
  background: linear-gradient(180deg, #ededed 0%, #ededed 20%, #fff 20%, #fff 100%);
  padding-top: 66px;
  padding-top: 4.125rem;
}
@media screen and (min-width: 768px) {
  .p-florist__bg {
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), color-stop(60%, #ededed), color-stop(60%, #fff), to(#fff));
    background: linear-gradient(180deg, #ededed 0%, #ededed 60%, #fff 60%, #fff 100%);
  }
}

@media screen and (min-width: 768px) {
  .p-florist__cards {
    margin-top: 3.8125rem;
  }
}

.p-footer {
  text-align: center;
  padding: 21px 0;
  padding: 1.3125rem 0;
}

.p-footer small {
  font-size: 11px;
  font-size: 0.6875rem;
  color: #111;
  letter-spacing: 1.76px;
  letter-spacing: 0.11rem;
}
@media screen and (min-width: 768px) {
  .p-footer small {
    font-size: 1rem;
    letter-spacing: 0.08rem;
  }
}

.p-gnav {
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position: fixed;
  z-index: 999;
  /*ナビのスタート位置と形状*/
  top: 0;
  right: -120%;
  width: 40%;
  height: 100vh;
  /*ナビの高さ*/
  background: rgba(255, 255, 255, .6);
  /*動き*/
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

/*アクティブクラスがついたら位置を0に*/
.p-gnav.js-panelactive {
  right: 0;
}

/*ナビゲーションの縦スクロール*/
.p-gnav.js-panelactive .p-gnav__list {
  /*ナビの数が増えた場合縦スクロール*/
  position: fixed;
  z-index: 999;
  width: 40%;
  height: 100vh;
  /*表示する高さ*/
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
.p-gnav ul {
  /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/*リストのレイアウト設定*/
.p-gnav li {
  list-style: none;
  text-align: center;
  display: block;
  width: 100%;
}

.p-gnav li a {
  display: block;
  width: 100%;
  color: #111;
  text-decoration: none;
  padding: 10px;
  padding: 0.625rem;
  display: block;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  letter-spacing: 0.075rem;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.p-header__logo {
  margin: 20.5px 15px;
  margin: 1.28125rem 0.9375rem;
}
@media screen and (min-width: 768px) {
  .p-header__logo {
    margin: 2.75rem 10rem;
  }
}

.p-header__logo h1 img {
  width: 66px;
  width: 4.125rem;
  height: 25px;
  height: 1.5625rem;
}
@media screen and (min-width: 768px) {
  .p-header__logo h1 img {
    width: 5.5625rem;
    height: 2.1875rem;
  }
}

.p-info__text {
  margin-top: 25.5px;
  margin-top: 1.59375rem;
}
@media screen and (min-width: 768px) {
  .p-info__text {
    margin-top: 1.96875rem;
  }
}

.p-info__access {
  padding-top: 8px;
  padding-top: 0.5rem;
  margin-top: 6px;
  margin-top: 0.375rem;
}

.p-info__img {
  margin-top: 35px;
  margin-top: 2.1875rem;
  width: 100%;
  position: relative;
}
@media screen and (min-width: 768px) {
  .p-info__img {
    max-width: 31.25rem;
  }
}

@media screen and (min-width: 768px) {
  .p-info__img::before {
    content: "";
    display: block;
    padding-top: 66%;
  }
}

@media screen and (min-width: 768px) {
  .p-info__img img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
}

@media screen and (min-width: 768px) {
  .p-info__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 1.5625rem;
  }
}

@media screen and (min-width: 768px) {
  .p-info__body {
    margin-left: 2.4375rem;
  }
}

.p-mv__title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 12;
}

.p-main-title__logo img {
  width: 158.5px;
  width: 9.90625rem;
  height: 64.5px;
  height: 4.03125rem;
}
@media screen and (min-width: 768px) {
  .p-main-title__logo img {
    width: 19.8125rem;
    height: 8.0625rem;
  }
}

.p-main-title__text {
  font-size: 12px;
  color: #fff;
  letter-spacing: 0.96px;
  letter-spacing: 0.06rem;
  text-align: center;
  padding-top: 20px;
  padding-top: 1.25rem;
}
@media screen and (min-width: 375px) {
  .p-main-title__text {
    font-size: 0.75rem;
  }
}
@media screen and (min-width: 768px) {
  .p-main-title__text {
    font-size: 1.375rem;
    letter-spacing: 0.055rem;
  }
}

.p-media-secondary .p-media__img {
  position: relative;
  max-width: 295px;
  max-width: 18.4375rem;
  width: 100%;
  margin-top: 59px;
  margin-top: 3.6875rem;
}
@media screen and (min-width: 768px) {
  .p-media-secondary .p-media__img {
    max-width: 26.25rem;
    margin-top: -27.1875rem;
  }
}

.p-media-secondary--pc .p-media__img {
  position: relative;
  max-width: 295px;
  max-width: 18.4375rem;
  width: 100%;
  margin-top: 59px;
  margin-top: 3.6875rem;
}
@media screen and (min-width: 768px) {
  .p-media-secondary--pc .p-media__img {
    max-width: 26.25rem;
    margin-top: -12.5rem;
  }
}

.p-media-secondary .p-media__img::before {
  content: "";
  display: block;
  padding-top: 135.593220339%;
}
@media screen and (min-width: 768px) {
  .p-media-secondary .p-media__img::before {
    padding-top: 150%;
  }
}

.p-media-secondary .p-media__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}

.p-media__img {
  position: relative;
  width: 100%;
  margin-top: 32px;
  margin-top: 2rem;
}

.p-media__img::before {
  content: "";
  display: block;
  padding-top: 100%;
}
@media screen and (min-width: 768px) {
  .p-media__img::before {
    padding-top: 97.8571428571%;
  }
}

.p-media__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}

.p-media__title {
  font-family: "Poppins", sans-serif;
  color: #2b2b2b;
  font-size: 23px;
  font-size: 1.4375rem;
  letter-spacing: 0.92px;
  letter-spacing: 0.0575rem;
  margin-top: 11.5px;
  margin-top: 0.71875rem;
}
@media screen and (min-width: 768px) {
  .p-media__title {
    font-size: 1.875rem;
    letter-spacing: 0.0375rem;
  }
}

.p-media__text {
  font-size: 12px;
  font-size: 0.75rem;
  color: #111;
  letter-spacing: 1.92px;
  letter-spacing: 0.12rem;
  line-height: 1.75;
  margin-top: 5px;
  margin-top: 0.3125rem;
}
@media screen and (min-width: 375px) {
  .p-media__text {
    font-size: 0.75rem;
  }
}
@media screen and (min-width: 768px) {
  .p-media__text {
    font-size: 1rem;
    letter-spacing: 0.08rem;
    line-height: 1.96875;
  }
}

.p-medias__item {
  max-width: 295px;
  max-width: 18.4375rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .p-medias__item {
    max-width: 26.25rem;
  }
}

.p-mv {
  position: relative;
}

.p-mv__img {
  position: relative;
  width: 100%;
  height: 100%;
}

.p-mv__img::before {
  content: "";
  display: block;
  padding-top: 94.6666666667%;
}
@media screen and (min-width: 768px) {
  .p-mv__img::before {
    padding-top: 48.4375%;
  }
}

.p-mv__img::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(122, 122, 122, .2);
  z-index: 11;
}

.p-mv__img picture img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}

.p-napo {
  color: #fff;
  background-color: #111;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.p-works__text {
  margin-top: 26px;
  margin-top: 1.625rem;
}

@media screen and (min-width: 768px) {
  .p-works__media {
    margin-top: 3.875rem;
  }
}

.p-media--mt {
  margin-top: 64px;
  margin-top: 4rem;
}
@media screen and (min-width: 768px) {
  .p-media--mt {
    margin-top: -29.125rem;
  }
}

.p-media--rev {
  margin-left: auto;
}

.c-btn {
  display: inline-block;
  position: relative;
  max-width: 209px;
  max-width: 13.0625rem;
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-size: 0.75rem;
  letter-spacing: 1.92px;
  letter-spacing: 0.12rem;
  color: #111;
  padding: 15px 5px;
  padding: 0.9375rem 0.3125rem;
  background-color: #fff;
  border: 1px solid #a0a0a0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (min-width: 375px) {
  .c-btn {
    font-size: 0.75rem;
  }
}
@media screen and (min-width: 768px) {
  .c-btn {
    max-width: 22rem;
    padding: 1.25rem 0;
    font-size: 1.25rem;
    letter-spacing: 0.1rem;
  }
}

.c-btn:hover {
  background-color: lemonchiffon;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.c-btn::before {
  content: "";
  background-image: url(../images/common/mail@2x.svg);
  width: 20px;
  width: 1.25rem;
  height: 14.5px;
  height: 0.90625rem;
  position: absolute;
  top: 18px;
  top: 1.125rem;
  left: 35px;
  left: 2.1875rem;
  z-index: 2;
  background-position: center center;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .c-btn::before {
    width: 1.9375rem;
    height: 1.375rem;
    top: 1.5625rem;
    left: 4rem;
  }
}

.c-humburger {
  /*ボタン内側の基点となるためrelativeを指定。
  追従するナビゲーションの場合はfixed＋top、rightといった位置をセットで指定*/
  position: fixed;
  top: 15px;
  top: 0.9375rem;
  right: 15px;
  right: 0.9375rem;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  z-index: 9999;
}
@media screen and (min-width: 768px) {
  .c-humburger {
    top: 1.9375rem;
    right: 10rem;
  }
}

/*ボタン内側*/
.c-humburger span {
  display: inline-block;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  /*アニメーションの設定*/
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background: #fff;
  width: 45%;
}
@media screen and (min-width: 768px) {
  .c-humburger span {
    width: 70%;
  }
}

.c-humburger span:nth-of-type(1) {
  top: 15px;
}

.c-humburger span:nth-of-type(2) {
  top: 23px;
}

.c-humburger span:nth-of-type(3) {
  top: 31px;
}

/*activeクラスが付与されると
線と周りのエリアが回転して×になる*/
.c-humburger.js-active .c-humburger__area {
  -webkit-transform: rotateY(-360deg);
          transform: rotateY(-360deg);
}

.c-humburger.js-active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  -webkit-transform: translateY(6px) rotate(-135deg);
          transform: translateY(6px) rotate(-135deg);
  width: 30%;
}

.c-humburger.js-active span:nth-of-type(2) {
  opacity: 0;
}

.c-humburger.js-active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  -webkit-transform: translateY(-6px) rotate(135deg);
          transform: translateY(-6px) rotate(135deg);
  width: 30%;
}

.c-section-text {
  line-height: 1.75;
  letter-spacing: 0.96px;
  letter-spacing: 0.06rem;
  color: #111;
  font-size: 12px;
  font-size: 0.75rem;
  text-align: center;
}
@media screen and (min-width: 375px) {
  .c-section-text {
    font-size: 0.75rem;
  }
}
@media screen and (min-width: 768px) {
  .c-section-text {
    font-size: 1rem;
    letter-spacing: 0.08rem;
    line-height: 1.96875;
  }
}

.c-section-title {
  font-size: 31px;
  font-size: 1.9375rem;
  font-family: "Poppins", sans-serif;
  color: #2b2b2b;
  letter-spacing: 1.24px;
  letter-spacing: 0.0775rem;
  font-weight: 700;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .c-section-title {
    font-size: 2.5rem;
    letter-spacing: 0.05rem;
  }
}

.c-section-title::after {
  content: "";
  display: block;
  width: 26px;
  height: 1px;
  background-color: #2b2b2b;
  margin: 15px auto 0 auto;
}

.l-concept {
  margin-top: 63px;
  margin-top: 3.9375rem;
}
@media screen and (min-width: 768px) {
  .l-concept {
    margin-top: 6.5625rem;
  }
}

.l-contact {
  margin-top: 59px;
  margin-top: 3.6875rem;
}
@media screen and (min-width: 768px) {
  .l-contact {
    margin-top: 6.1875rem;
  }
}

.l-florist {
  margin-top: 55px;
  margin-top: 3.4375rem;
}
@media screen and (min-width: 768px) {
  .l-florist {
    margin-top: 6.875rem;
  }
}

.l-header {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}

.l-info {
  margin-top: 89px;
  margin-top: 5.5625rem;
}
@media screen and (min-width: 768px) {
  .l-info {
    margin-top: 9.4375rem;
  }
}

.l-inner {
  width: 100%;
  padding-right: 13px;
  padding-left: 13px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .l-inner {
    max-width: 1010px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.l-works {
  margin-top: 63px;
  margin-top: 3.9375rem;
}
@media screen and (min-width: 768px) {
  .l-works {
    margin-top: 5.4375rem;
  }
}
/*# sourceMappingURL=styles.css.map */
