@use "global" as *;

.c-section-title {
  font-size: rem(31);
  font-family: $second-font-family;
  color: $title;
  letter-spacing: rem(1.24);
  font-weight: $bold;
  text-align: center;
}

.c-section-title::after {
  content: "";
  display: block;
  width: 22px;
  height: 1px;
  background-color: $title;
  margin: 10px auto 0 auto;
}
